<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hqxh.fiamproperty">

    <!-- 申明可能需要的网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyThemeBlue">
        <activity
            android:name=".ui.activity.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.VIEW"/>-->
                <!--<data android:scheme="fiamapp"  />-->
            <!--</intent-filter>-->
            <!--<intent-filter>
               <action android:name="android.intent.action.MAIN" />
               <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <!-- <activity
            android:name="com.hqxh.fiamproperty.ui.activity.HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="fiamapp"  />
            </intent-filter>
        </activity>  -->
        <activity
            android:name=".ui.activity.ActiveTaskActivity"
            android:label="@string/db_task_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.WorkorderActivity"
            android:label="@string/ccsq_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.GrActivity"
            android:label="@string/cmgl_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.PrMainActivity"
            android:label="@string/ccsq_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.PrActivity"
            android:label="@string/jscgsq_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.RwdMainActivity"
            android:label="@string/rwd_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.RwdActivity"
            android:label="@string/rwd_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.HtActivity"
            android:label="@string/ht_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.FkActivity"
            android:label="@string/fkys_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.XkjhActivity"
            android:label="@string/xkjh_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.BxActivity"
            android:label="@string/bx_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.SearchActivity"
            android:label="@string/search_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.GnWorkorderActivity"
            android:label="@string/gncc_detail_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.GrDetailsActivity"
            android:label="@string/wzcmxq_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".ui.activity.PersonrelationActivity"
            android:label="@string/ccr_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.KbfilelistActivity"
            android:label="@string/kbfilelist_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.WzmxListActivity"
            android:label="@string/wzmx_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".ui.activity.WftransactionActivity"
            android:label="@string/spjl_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.CgWorkorderActivity"
            android:label="@string/cglxxq_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.SyrwdWorkorderActivity"
            android:label="@string/syrwdxq_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.CudeptActivity"
            android:label="@string/cudept_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.PersonActivity"
            android:label="@string/ownername_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.SzrwdWorkorderActivity"
            android:label="@string/szrwd_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.WzlldWorkorderActivity"
            android:label="@string/wzlld_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.WpitemActivity"
            android:label="@string/mxxx_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.DjrwdWorkorderActivity"
            android:label="@string/djrwd_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.RyrwdWorkorderActivity"
            android:label="@string/rysqdxq_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.QtrwdWorkorderActivity"
            android:label="@string/qtrwdxq_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.PurchviewActivity"
            android:label="@string/htxq_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.DoclinksActivity"
            android:label="@string/wd_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.ContractpayActivity"
            android:label="@string/fkjh_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.ContractlineActivity"
            android:label="@string/hth_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.ExpenseActivity"
            android:label="@string/hth_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.SubsidiesActivity"
            android:label="@string/bzmx_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.OuttestineActivity"
            android:label="@string/bzmx_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.ExpenselineActivity"
            android:label="@string/jtmx_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.BorelationActivity"
            android:label="@string/jkd_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.ByExpenseActivity"
            android:label="@string/byjbx_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.PaycheckrelationActivity"
            android:label="@string/fkys_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.WppaydetailsActivity"
            android:label="@string/wpcgsq_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.FwpaydetailsActivity"
            android:label="@string/fwcgsq_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.BoActivity"
            android:label="@string/bxmx_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.JsPrActivity"
            android:label="@string/jscgxq_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.PrvendorActivity"
            android:label="@string/qzgys_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.SzPrActivity"
            android:label="@string/szcgsqxq_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.PrlineActivity"
            android:label="@string/sqmx_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.WzPrActivity"
            android:label="@string/wzcgsqxq_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.PaycheckActivity"
            android:label="@string/fkysmx1_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.PaychecklineActivity"
            android:label="@string/ysmx_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.PaychecklineDetailActivity"
            android:label="@string/ysxq_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.XkplandetailActivity"
            android:label="@string/xkjh_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.XkxmActivity"
            android:label="@string/xkxm_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.ZxkjhActivity"
            android:label="@string/zxkjh_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.Ccsq_SearchActivity"
            android:label="@string/search_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.Cmgl_SearchActivity"
            android:label="@string/search_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.Pr_SearchActivity"
            android:label="@string/search_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.Rwd_SearchActivity"
            android:label="@string/search_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.Ht_SearchActivity"
            android:label="@string/search_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.Fkys_SearchActivity"
            android:label="@string/search_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.Xkjh_SearchActivity"
            android:label="@string/search_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.Expense_SearchActivity"
            android:label="@string/search_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.Bo_SearchActivity"
            android:label="@string/search_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.PersonSearchActivity"
            android:label="@string/search_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.CudeptSearchActivity"
            android:label="@string/search_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.FctaskrelationActivity"
            android:label="@string/yxmx_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.XmxsActivity"
            android:label="@string/xmxs_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.MyReallyActivity"
            android:label="写实详情"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.DocuActivity"
            android:label="附件"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.PermissionsActivity"
            android:label="权限"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.GNWorker.PersonrelationDetailActivity"
            android:label="权限"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.GnWorkorderCopyActivity"
            android:label="权限"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.fcaskrelation.FctaskrelationSelectActivity"
            android:label="权限"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.GNWorker.TaskSelectActivity"
            android:label="权限"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.GNWorker.TS_SearchActivity"
            android:label="权限"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.hqxh.fiamproperty.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>